h3 {
    margin-left: 20px;
    font-family: Lucida Handwriting;
    font-weight: bolder;
}

#icono1 {
    height: 40px;
}

#logo_perfil {
    width: 50px;
    height: 50px;
}

header {
    background-color: turquoise;
}

header h3 a {
    color:black;
}

header h3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding:10px;
}

header .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu div a {
    color: black;    
}

.menu div a:hover {

    border-bottom: 3px solid white;
}