.caja {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#formulario {
    border: 1px solid grey;
    border-radius: 3px;
    width: 40%;
    height: 55%;
    margin-top: 3%;
    margin-bottom: 10%;
    background-color: #fff8dc;
    box-shadow: 0px 2px 8px rgb(3, 84, 104);
    text-align: center;
}

body {
    background-color: honeydew;
}

#imagen {
    width: 17%;
    border-radius: 7px;
}

a {
    text-decoration: none;
    text-align: left;
}


.contenedor {
    display: inline-block;
    width: 100px; 
}

.error {
    border: 1px solid red;
    border-radius: 3px;
}

input {
    border-radius: 4px;
    border:1px solid gray;
    width: 50%;
}

#error {
    color: red;
    font-weight: bold;
}

#indicador {
    margin-left: 49%;
}

#boton {
    text-align: center;
    width: 35%;
}
