#song {
    cursor: pointer;
    font-weight: bold;
}

.borrarCancion {
    width: 20px;
}

.list {
    text-align: left;
}

#contenedor {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#nombreLista {
    text-align: center;
}

scroll-container {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#song:hover {
    color: blue;
}