#op:hover,
#op1:hover {
  border-bottom: 5px solid white;

}

#op:hover {
  cursor: pointer;
  text-decoration: none;
}

body {
   background-color: color-mix(in srgb, gray 20%, white 10%);
}

.caja {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listas {
  display: inline-block;
  background-color: rgb(255, 253, 208);
  border-radius: 3px;
  border: 1px solid black;
  width: 40%;
  height: 90%;
}

.canciones {
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(255, 253, 208);
  width: 40%;
  height: 90%;
}


h2 {
  text-align: center;
}

#canciones {
  border-bottom: 1px solid black;
}

#listaCompleta {
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(248, 244, 170);
  width: 40%;
  height: 90%;
  display: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

#eliminar {
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(255, 253, 208);
  width: 40%;
  height: 90%;
  margin-left: 55%;
  margin-top: -41%;
  display: none;

}

#titulo {
  text-align: center;
  margin-top: 5%;
  font-family: Lucida Handwriting;
}


thead,
th,
tbody,
td {

  text-align: center;
  border-collapse: collapse;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

td:hover {

  cursor: pointer;
}

.añadirCancion,
.verLista,
.eliminarLista {

  width: 11%;
  display: inline-block;
  cursor: pointer;

}

.botones {

  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-top: 5%;
  position: sticky;
}

h5 {
  text-align: center;
  margin-top: 20px;
}

#columna1,
#col1 {
  display: none;
}

/*Diseño reproductor*/
.time-container {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(240, 255, 255);
  font-size: 12px;
 
}

.time-left {

  margin-top: 0.3rem;
}

body {

  background-color: azure;
}

/*Contenedor que contiene el reproductor*/
.music-player-container {

  background: linear-gradient(30deg, darkgrey, darkgrey);
  backdrop-filter: blur(10px);
  height: fit-content;
  width: 40%;
  height: 23%;
  border-radius: 10px;
  padding: 2rem 0;
  box-shadow: 0px 2px 8px darkgrey;

}

.title-music-container {

  width: 80%;
  height: 80%;
  width: fit-content;
  color: azure;
  margin-right: auto;
  margin-left: 10%;
}

/*Estilo letra nombre cancion*/
.song-title {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.controls-music-container {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-song-container {
  margin-top: 0.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.progress-bar {
  height: 8px;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(102, 102, 102);
  position: relative;
  transition: width 0.1s linear;
}

.progress {
  position: relative;
  height: 100%;
  width: 0%;
  border-radius: 3px;
  background-color: white;
  transition: width 0.1s linear;
}

.time-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(167, 167, 167);
  font-size: 12px;
}




.time-left {

  margin-top: 0.3rem;
}

.main-song-controls {
  height: 30px;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon {

  height: 100%;
  width: auto;
  opacity: 0.6;
  cursor: pointer;
  user-select: none;
}

.icon:hover {
  opacity: 1;
}

#CurrentSongTime, #SongLength{
  color: black;
}

audio {
  display: none;
}

#song, #cancion{
  cursor: pointer;
}

#cancion{
  font-weight: bold;
}