body {

    background-color: rgb(255, 237, 189);

}


#imagen1 {
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
}

h2 {

    font-family: Lucida Handwriting;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 450%;
    color: black;

}

h2 {
    margin-left: 20px;
    font-family: Lucida Handwriting;
    font-weight: bold;
}