#contenedor {
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 3px;
    width: 60%;
    height: 110%;
}

#tableusuarios {
    margin-left: 20px;
    border-radius: 3px;
}

#imagen1 {
    width: 80px;
}

#titulo{
    font-size: 30px;
}

tr,
.id,
.usuario,
.contraseña,
.fecha,
.email,
.tipo,
.modificar,
.eliminar {
    color: blue;
    background-color: bisque;
    border: 1px solid gray;
    height: 20px;
    border-radius: 3px;
    text-align: center;
}

#id,
#usuario,
#contraseña,
#fecha,
#correo,
#tipo {
    text-align: left;
    color: black;
    background-color: rgb(243, 234, 222);
    border: 1px solid gray;
    border-radius: 3px;
    text-align: center;
}

#botonModificar,
#botonEliminar {
    color: black;
    background-color: rgb(243, 234, 222);
    border: 1px solid gray;
    border-radius: 3px;
    text-align: center;
}

body {

    /*background-color: rgb(163, 212, 163);*/
    background-color:rgb(245, 255, 162);

}

#iconoInsertar,
#iconoModificar,
#iconoEliminar {
    width: 20px;
    height: 20px;
}