#formulario {
    border: 1px solid grey;
    border-radius: 3px;
    width: 35%;
    height: 60%;
    margin: auto;
    text-align: center;
    margin-top: 3%;
    background-color: cornsilk;
    box-shadow: 0px 2px 8px rgb(3, 84, 104);
}

#admin {

    margin-left: 2px;
}

body {

    background-color: rgb(128, 186, 215);

}

#imagen1 {
    width: 17%;
    margin-left: 41%;
    margin-top: 3%;
    border-radius: 7px;
}

a {
    text-decoration: none;
}

.contenedor {

    display: inline-block;
    width: 110px;
}

.error {
    border: 1px solid red;
    border-radius: 3px;
}

input {

    border-radius: 3px;
    border: 1px solid gray;
    width: 50%;
}

#boton {

    width: 35%;
}

h2 {

    text-align: center;
}


#imagen {

    margin-left: 20%;
    margin-top: 3%;
    width: 60%;
}